<!doctype html>

<html>
<head>
	<title>Stress Relief Tips</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/app_style.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		{{#each avatar}}
			<div onclick="openNav()">
				<img src="{{image}}" alt="Avatar" class="img" height="30" width="30">
			</div>
			<div class="top_title" align="center">
				<div class="app_title">
					<h1>Stress Relief Tips</h1>
					<p></p>
				</div>
			</div>

			<div id="{{id}}" class="{{class}}">
  				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					<a href=".">Home</a>
  				<a href="profile">Profile</a>
  				<a href="history">History</a>
					<a href="tips">Stress Relief Tips</a>  
					<a href="login">Logout</a>
			</div>
		{{/each}}

		<div>
			<h3>Exercise</h3>
			<h5>Exercise has been shown to improve mood and release endorphins—the brain’s feel-good 
					neurotransmitter. 
			</h5>
			<ul>
				<li>Running</li>
				<li>Working Out</li>
				<li>Dancing</li>
				<li>Working Out</li>
			</ul>
			<h3>Meditation</h3>
			<h5>Meditation helps you focus on the present and clear your head.</h5>
			<ul>
				<li>Guided Meditation</li>
				<li>Mantra Meditation</li>
				<li>Mindfulness Meditation</li>
			</ul>
			<h3>Breathing</h3>
			<h5>Breathing helps your body relax and keeps you in the present moment.</h5>
			<ul>
				<li>Controlled Breathing Techniques</li>
				<li>Timed Breathing</li>
				<li>Alternate in-out Breathing Techniques</li>
			</ul>
			<h3>Talking/Venting/Writing</h3>
			<h5>Having support groups or someone you can talk to can help you get things into perspective, 
				and helps you release stress that you have kept inside.
			</h5>
			<ul>
				<li>Journaling/Diary</li>
				<li>Hanging Out</li>
				<li>Therapy</li>
			</ul>
			<h3>Time</h3>
			<h5>Making time for yourself, whether it be alone time or time to hang out with friends can help you feel less stressed.</h5>
			<ul>
				<li>Self-Reflection</li>
				<li>Spending Time with Otherst</li>
				<li>Relaxation</li>
			</ul>
		</div>
	</div>
	<script>
		$(document).ready(function() {
    	openNav();
    	closeNav();
		});

		function openNav() {
				document.getElementById("avatar").style.width = "250px";
		};
		
		function closeNav() {
				document.getElementById("avatar").style.width = "0";
		};	
	</script>
</body>
</html>